@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas");
body {
  background-image: url('pupazzo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
  background-color: #c84257;
  background-position-y: 0%;
}
.snow {
  position: absolute;
  z-index: 70;
  width: 100%;
  height: 100%;
}

.trees {
  display: grid;
  grid-template-rows: 50% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/25839/trees.svg) repeat-x;
  position: relative;
  width: 100%;
  height: 500px;
}

.merry {
  color: #c84257;
  font-family: "Mountains of Christmas";
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  font-size: 6rem;
}

.fox {
  grid-column: 3;
  grid-row: 3;
  align-self: end;
  justify-self: start;
  position: relative;
  
left: 614px;
top: 35px;
}

.tree {
  align-self: end;
  justify-self: end;
  grid-column: 1;
  grid-row: 3;
  position: relative;
  left: 172px;

  bottom: 554px;
}


.gioan {
  grid-column: 3;
  grid-row: 3;
  align-self: end;
  justify-self: start;
  position: relative;

  left: 1380px;
  top: -867px;
}

.btn1 {
  position: relative;
  top: -772px;
  left: 848px;
  z-index: 100;
  background-color: red;
  border-radius: 6px;
  width: 197px;
  height: 73px;
  font-size: 29px;
  

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 7px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   background: var(--color-sky-bottom);
  background: linear-gradient(to bottom, var(--color-sky-top), var(--color-sky-bottom));
  width: 100vw;
  height: 100vh;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: var(--color-sky-bottom);
  background: linear-gradient(to bottom, var(--color-sky-top), var(--color-sky-bottom));
  width: 100vw;
  height: 100vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background: var(--color-sky-bottom);
  background: linear-gradient(to bottom, var(--color-sky-top), var(--color-sky-bottom));
}

.modal-body {padding: 240px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

:root {
  --color-sky-top: #3e365d;
  --color-sky-bottom: #df9a91;
  --color-main: #403149;
  --color-heart: red;
  --size-viewport: 85%;
}

* {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
#alpaca {
  height: 25%;
  position: absolute;
  bottom: 8%;
  left: 40%;
  fill: var(--color-main);
}

#landscape {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-main);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 1;
}


#hearts-alpaca {
  bottom: 33%;
  left: 40%;
}

.hearts {
  width: 5%;
  min-width: 100px;
  height: 25%;
  min-height: 300px;
  position: absolute;
  z-index: 10;
}

.heart {
  background-color: var(--color-heart);
  position: absolute;
  height: 20%;
  min-height: 15px;
  width: 20%;
  min-width: 15px;
  opacity: 0;
  -webkit-mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
          mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
          mask-position: bottom;
  animation: floating-heart 10s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.heart:nth-child(1) {  
  animation-delay: 1s;
}

.heart:nth-child(2) {
  animation-delay: 2.5s;
}

.heart:nth-child(3) {
  animation-delay: 3.5s;
}

.heart:nth-child(4) {
  animation-delay: 4.5s;
}

@keyframes floating-heart {
  0% {
    opacity: 0;
    bottom: 0%;
    left: 0%;
  }
  10% {
    opacity: 1;
    bottom: 20%;
    left: 70%;
  }
  20% {
    bottom: 40%;
    left: 10%;
  }
  30% {
    bottom: 60%;
    left: 50%;
  }
  40% {
    opacity: 1;
    bottom: 80%;
    left: 5%;
  }
  48% {
    opacity: 0;
    bottom: 100%;
    left: 60%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: 90%;
  }
}

#alpaca {
  height: 25%;
  position: absolute;
  bottom: 8%;
  left: 40%;
  fill: var(--color-main);
}

#landscape {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-main);
  border-top-left-radius: 50%;
}

.tiamo{
  position: relative;
  top: -191px;
  font-size: 42px;
  text-align: center;
  font-family: sans-serif;}

  .testo{
    position: relative;
    top: -191px;
    font-size: 27px;
    text-align: center;
    font-family: sans-serif;}
    .letters{
      position: relative;
      top: -191px;
      font-size: 108px;
      text-align: center;
      font-family: sans-serif;}

      .bcv {
        height: 25%;
        position: absolute;
        bottom: 11%;
        left: 6%;
        fill: var(--color-main);
    }
    .vita {
      height: 25%;
      position: absolute;
      bottom: 11%;
      left: 65%;
      fill: var(--color-main);
  }
